<div class="container text-primary text-center">
  <br />
  <span class="fs-3"> TABLEAU DE BORD </span>
  <div class="row line1 justify-content-center">
    <div class="col-xl-3 col-md-6 col-sm-12 m-2 nb nbCompany">
      <img src="../../../assets/img/company.png" alt="" />
      <span class="fs-7"> NOMBRE DE COMPAGNIES </span>
      <div class="fs-1 text-center">{{ this.nbCompanies }}</div>
    </div>
    <div class="col-xl-3 col-md-6 m-2 nb nbProject">
      <img src="../../../assets/img/project.png" alt="" />
      <span class="fs-7"> NOMBRE DE PROJETS </span>
      <div class="fs-1 text-center">{{ this.nbProjects }}</div>
    </div>
    <div class="col-xl-3 col-md-6 m-2 nb nbTask">
      <img src="../../../assets/img/task.png" alt="" />
      <span class="fs-7"> NOMBRE DE TACHES </span>
      <div class="fs-1 text-center">{{ this.nbTasks }}</div>
    </div>
    <div class="col-xl-3 col-md-6 m-2 nb nbUser">
      <img src="../../../assets/img/user.png" alt="" />
      <span class="fs-7"> NOMBRE D'UTILISATEURS </span>
      <div class="fs-1 text-center">{{ this.nbUsers }}</div>
    </div>
  </div>

  <div class="row mt-3 g-1 line1">
    <div class="col-xl-8 col-md-12">
      <app-proj-task-chart></app-proj-task-chart>
    </div>
    <div class="col-xl-4 col-md-12">
      <app-chart-user-task></app-chart-user-task>
    </div>
  </div>

  <div class="row mt-3 g-1 line1 line2">
    <div class="col-xl-8 col-md-12">
      <app-comp-proj-chart></app-comp-proj-chart>
    </div>
  </div>

  <!-- <div class="row mt-3">
    <div class="col-xl-6 col-md-12">
      <app-comp-proj-chart></app-comp-proj-chart>
    </div>
  </div> -->
</div>
