<h2 mat-dialog-title>Utilisateur</h2>
<mat-dialog-content class="mat-typography">
  <form class="user-form" #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
    <mat-form-field class="user-full-width" appearance="fill">
      <mat-label>Prenoms</mat-label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        placeholder="Prenom(s)"
        [(ngModel)]="user.firstName"
        required
        matInput
      />
    </mat-form-field>
    <mat-form-field class="user-full-width" appearance="fill">
      <mat-label>Nom</mat-label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        placeholder="Nom"
        [(ngModel)]="user.lastName"
        required
        matInput
      />
    </mat-form-field>
    <mat-form-field class="user-full-width" appearance="fill">
      <mat-label>Nom d'utilisateur</mat-label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Nom d'utilisateur"
        [(ngModel)]="user.username"
        required
        matInput
      />
    </mat-form-field>
    <mat-form-field class="user-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        [(ngModel)]="user.email"
        required
        matInput
      />
    </mat-form-field>
    <mat-form-field class="user-full-width" appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Mot de passe"
        [(ngModel)]="user.password"
        required
        matInput
      />
    </mat-form-field>

    <mat-form-field
      class="user-full-width"
      appearance="fill"
      [style.display]="'none'"
    >
      <input
        type="text"
        value="n"
        name="adminRole"
        id="adminRole"
        [(ngModel)]="user.adminRole"
        matInput
      />
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Annuler</button>
      <button
        mat-button
        btn-primary
        cdkFocusInitial
        [disabled]="addForm.invalid"
        class="btn-primary text-white"
      >
        Valider
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
