<form class="project-form" #updateForm="ngForm" (ngSubmit)="onEdit(updateForm)">
  <mat-form-field
    class="project-full-width"
    appearance="fill"
    [style.display]="'none'"
  >
    <mat-label>Nom du projet</mat-label>
    <input
      matInput
      [(ngModel)]="project.idProject"
      required
      id="idProject"
      name="idProject"
    />
  </mat-form-field>
  <mat-form-field class="project-full-width" appearance="fill">
    <mat-label>Nom du projet</mat-label>
    <input
      matInput
      placeholder="Ex. votre projet"
      [(ngModel)]="project.projectName"
      required
      id="projectName"
      name="projectName"
    />
  </mat-form-field>
  <mat-form-field
    appearance="fill"
    class="project-full-width"
    [style.display]="'none'"
  >
    <mat-label>Selectionner sa compagnie</mat-label>
    <mat-select [(ngModel)]="project.companyId" required name="companyId">
    </mat-select>
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button
      mat-button
      btn-primary
      cdkFocusInitial
      [disabled]="updateForm.invalid"
      class="btn-primary text-white"
    >
      Valider
    </button>
  </mat-dialog-actions>
</form>
